{% extends "base.html" %}
{% block title %} graphcity {% endblock %}
{% block scripts %}{% endblock %}
{% block body %}
	<h1>graphcity</h1>
	<form action="/search" method="POST">
		
		{{ msg }}
		<!--<select id="selCity1" name="city1"></select>-->
		<input type="text" placeholder="please enter a city" name="city1">
		<!--<input type="text" placeholder="please enter a city" name="city2">-->
		<!--<input type="text" placeholder="Search for a book" name="user_search" required />-->
		<!--<input type="text" placeholder="Enter another city-->
		
		<div class="small-2 columns">
			<button class="postfix search-button" type="submit">Go</button>
		</div>
	</form>
	{% block results %}{% endblock %}
{% endblock %}
	
