/* app.css */

body, html {
    height: 100%;
    width: 100%;
}

body {
    background: black url(/static/img/city.jpg) no-repeat fixed center center;
}

.panel {
    margin-top: 80px;
    text-align: center;
    background-color: rgba(242, 242, 242, 0.9);
    padding: 15px 0px 70px 0px;
}

.panel h1 {
    font-size: 3rem;
}

.panel p {
    font-size: 1.3rem;
    padding: 20px 0px;
}

button {
    background-color: #0000FF;
    color: #EEEEEE;
    font-size: 1.5rem;
    font-weight: 500;
}

button:hover {
    background-color: #D77E22;
}

.launch-button {
    margin-top: 25px;
    padding: 30px;
}

.search-button {
    padding: 5px 20px;
}

.results {
    text-align: left;
    margin-top: 100px;
}

li {
    list-style-type: none;
    padding-bottom: 25px;
}

form input[type="text"] {
align-self: center;
height: 28px;
width: 300px;
margin: 0;
padding: 0;
font-size: 15px;
border: 1px solid #CCCCCC;
}

form input[type="submit"] {
align-self: center;
height: 28px;
width: 80px;
margin: 0;
padding: 0;
font-size: 15px;
background-color: #FFFFFF;
border: 1px solid #CCCCCC;
} 